extends layout

block content
  div#map-canvas
  div#content
    img.clear-dest(
      src=url.cdnImagePrefix + "/images/close.png" 
      ng-show="destination && destination.lat" 
      ng-click="clearDestination()"
    )
    img.src-dest(src=url.cdnImagePrefix + "/images/src-dest.png")
    div#locationField
         input.clearable#searchSource(
           placeholder="Enter source",
           type="text"
           ng-focus="typingOn = true"
           ng-blur="typingOn = false"
         )
         hr
         input.clearable#searchDestination(
           placeholder="Enter destination",
           type="text"
           ng-focus="typingOn = true"
           ng-blur="typingOn = false"
         )
  div#cabdetails(ng-show="isShownDetails()" ng-cloak)
    div#details
      div.cab-details(ng-hide="showMask()")
        p.center-align.mask-image
          img(alt="!" src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_info_more-information_detail-32.png")
        p.center-align No cabs available from {{cabs.selected}}
      div.cab-details(
        ng-repeat='cab in cabs.estimate | filter:showFilter' 
        ng-class='{all: "all" == cabs.selected.toLowerCase()}'
        ng-click='openApp(cab.type)'
      )
        img.cab-image(ng-src="{{ getCabImg(cab.name) }}")
        img.cab-type-image(ng-src="{{ getCabTypeImg(cab.type) }}")
        p.right(ng-bind-html='getTravelCost(cab)')
        p.cab-name {{cab.name}}
        p.cab-desc.right {{ getTravelTime(cab) }}
        p.cab-desc {{ getArrivalTime(cab) }}
    div(style='height:5px')
    div#services
      hr
      table
        tr
          td(ng-repeat='service in services')
            div.service-div(
              ng-click='selectService(service.name)' 
              ng-class='{active: service.name.toLowerCase() == cabs.selected.toLowerCase()}'
            )
              img(ng-src="{{ service.icon }}")
              span {{ service.name }}
          td
            div.service-div(ng-click='selectService("all")' ng-class='{active: "all" == cabs.selected.toLowerCase()}')
              img(alt="ALL" src="https://cdn4.iconfinder.com/data/icons/sound-and-audio/32/black_2_audio_simple_repeat_all-48.png")
              span All
    div#types
  div#title
    img(src=url.cdnImagePrefix + '/images/taxistop.png' ng-click="promoteApp('share')")

  if isProd
    script(src='build/app.js')
  else
    script(src='scripts/Maps/Maps.js')
    script(src='scripts/Maps/MapSearch.js')
    script(src='scripts/Maps/MapDirections.js')
    script(src='scripts/cost.js')
    script(src='scripts/ui.js')
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-59502345-1', 'auto');
    ga('send', 'pageview');
  