extends layout

block content
  div#map-canvas
  div#content
      div#locationField
           input#searchSource(
             placeholder="Enter source",
             type="text",
             style="height: 30px; width: 95%"
           )
           input#searchDestination(
             placeholder="Enter destination",
             type="text",
             style="height: 30px; width: 95%"
           )
  h2#title= title

  script(type='text/javascript').
    var map_container = document.getElementById('map-canvas');
    var source_container = document.getElementById('searchSource');
    var destination_container = document.getElementById('searchDestination');

    google.maps.event.addDomListener(window, 'load', function() {
      chanakya.Map.intializeGmapsUsingNavigator(map_container, function() {
        chanakya.Map.Search.initializeAutocompleteSourceBox(source_container);
        chanakya.Map.Search.initializeAutocompleteDestinationBox(destination_container);
      });
    });
