extends layout

block content
  div#map-canvas
  div#content
    img.clear-dest(
      src="images/close.png" 
      ng-show="destination && destination.lat" 
      ng-click="clearDestination()"
    )
    img.src-dest(src="images/src-dest.png")
    div#locationField
         input.clearable#searchSource(
           placeholder="Enter source",
           type="text"
           ng-focus="typingOn = true"
           ng-blur="typingOn = false"
         )
         hr
         input.clearable#searchDestination(
           placeholder="Enter destination",
           type="text"
           ng-focus="typingOn = true"
           ng-blur="typingOn = false"
         )
  div#cabdetails(ng-show="isShownDetails()")
    div#details
      div.cab-details(ng-hide="showMask()")
        p.center-align.mask-image
          img(alt="!" src="images/exclamation.png")
        p.center-align No cabs to show for {{cabs.selected}}
      div.cab-details(ng-repeat='cab in cabs.estimate | filter:showFilter')
        img.cab-image(ng-src="{{ getCabImg(cab.name) }}")
        p.right(ng-bind-html='getTravelCost(cab)')
        p.cab-name {{cab.name}}
        p.cab-desc.right {{ getTravelTime(cab) }}
        p.cab-desc {{ getArrivalTime(cab) }}
    div(style='height:5px')
    div#services
      hr
      table
        tr
          td(ng-repeat='service in services')
            div.service-div(ng-click='getService(service.name)' ng-class='{active: service.name.toLowerCase() == cabs.selected.toLowerCase()}')
              img(ng-src="{{ service.icon }}")
              span {{ service.name }}
    div#types
  div#title
    img(src='images/taxistop.png')

  script(src='scripts/cost.js')
  script(src='scripts/Maps.js')
  script(src='scripts/MapSearch.js')
  script(src='scripts/MapDirections.js')
  script(src='scripts/ui.js')
  